.main-container {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contain-form {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-menu {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.title-page {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.contain-form form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain-form form button {
    text-align: center;
    margin-top: 30px;
    width: 150px;
}

.contain-form form div {
    width: 100%;
}

.remember-password {
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.contain-book {
    width: 1000px;
    margin: auto;
}

.contain-create-book  {
    width: 800px;
    margin: auto;
}

.table-book {
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    display: inline-block;
    margin-bottom: 50px;
}

.btn-add {
    margin: 20px 0;
}

.btn-add a{
    color: #ffffff;
    text-decoration: none;
}

.image-col img {
    width: 80px;
    height: 120px;
}

.table td {
    vertical-align: middle;
}

.contain-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}